body{
    /* background:linear-gradient(#003A67,#0D66AC); */
    background-color: #003A67;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin-top: 15%;
}
h1{
    text-align: center;
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
}
.card{
    width: 30%;
    height: 30vh;
    background-color: rgba(237, 242, 247, 0.429);
    text-align: center;
    padding-top: 30px;
    color: white;
    border-radius: 10px;
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.7s;
    
}
